

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.film_background {
  z-index: -10;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.title {
  font-family: 'Monoton';
  color: rgb(170, 153, 138)
}

.title h1{
  font-size: 62px;
  height: 64px;
}

.title h2{
  margin: 0;
  font-size: 30px;
}

.nominate_wrapper {
  color:rgb(250, 235, 235);
  display: flex;
  flex-wrap: wrap;
  margin: 5% 10% 10% 10%;
  padding: 5px;
  min-width: 80%;
  min-height: 600px;
  background-color: rgb(151, 119, 14);
  border-radius: 5%;
}

.search {
  display: flex;
  color:rgb(207, 203, 203);
  justify-content: center;
  width: 100%;
  height: 40px;
  padding-bottom: 6px;
  margin-top: 30px;
}

.search input{
  color:rgb(207, 203, 203);
 }

.search_results {
  width: 60%;
  height: 100%;
  box-shadow: 8px 0 0px -7px #000000;
}

.result {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 grid-template-rows: 1;
 padding: 5px;
 
 
}

.five_noms{
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.nomination {
  margin-left: 25px;
}


.banner {
  position: fixed;
  top: 25%;
  width: 100%;
  height: 50px;
  background-color: rgb(184, 173, 21);
  right: 0;
  padding-top: 12px;
  font-size: 22px;

}